<link rel="stylesheet" href="featureCard1.css">
<!-- views/partials/featureCardRight.ejs -->
<div class="feature-card-outer-r">
  <div class="feature-card-r">
    <div class="feature-left-r">
      <h2>This is a very good website</h2>
      <p>Clean, fast, and beautifully optimized for all your competitive programming needs.</p>
    </div>
    <div class="feature-right-r">
      <img src="pic2.png" alt="preview">
    </div>
  </div>
</div>
